* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  top: 20vh;
  margin: auto;
  width: 350px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);

  border-radius: 30px;
  background: #fff;

  /* background: #262d37;*/
}

.block {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  height: 100px;
  color: #262d37;
  background-color: #fff;
  padding: 15px;
  padding-bottom: 30px;
  margin: 15px;
  border-radius: 30px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.containerContent {
  margin: 5px;
  padding: 10px;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-gap: 7px;
}

.items,
.item_2g {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  background: #fff;
  color: #262d37;
  border-style: none;
}

.items {
  height: 75px;
  width: 75px;
}

.item_2g {
  grid-column: span 2;
}

.accentColor {
  background: #367b8a;
}

.sprAccent {
  background: #ef864b;
}
